{% extends 'base.html' %}
{% block body %}
<main role="main">

    <section class="jumbotron text-center">
      <div class="container">
        <h1>Album example</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Main call to action</a>
          <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>
      </div>
    </section>
  
    <div class="album py-5 bg-light">
      <div class="container">
  
        <div class="row">
          {% for item in list_item_total %}
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Изображение</text></svg>
              <div style="text-align:center" class="card-body">
                
            
            <h1>{{ item.name }}</h1>
            <p>{{ item.desc }}</p>
            <h3>{{ item.coast }}</h3>
            
          
                <div class="d-flex justify-content-between align-items-center">
                  <div style="margin-left: auto; margin-right: auto;" class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Подробнее</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Заказать</button>
                  </div>                  
                </div>
              </div>
            </div>
          </div>
          {% endfor %}      
          
  </main>
{% endblock %}